VITE_FIREBASE_API_KEY=yourkeyhere
VITE_FIREBASE_AUTH_DOMAIN=yourkeyhere
VITE_FIREBASE_PROJECT_ID=yourkeyhere
VITE_FIREBASE_STORAGE_BUCKET=yourkeyhere
VITE_FIREBASE_MESSAGING_SENDER_ID=yourkeyhere
VITE_FIREBASE_APP_ID=yourkeyhere