@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
@use '$lib/styles/theme.scss';
@use '$lib/styles/interaction.scss';
@use '$lib/styles/animation.scss';

// Disabled outerHTML scrolling on mobile for html and body when in app
html.logged-in, body.logged-in {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}

// Enable outerHTML scrolling on desktop for html and body when in app
@media (min-width: 768px) {
    html.logged-in, body.logged-in {
        overflow: auto;
        position: relative;
        height: auto;
    }
}

// Disable scrolling when modals or sidebar are open
.lock-scroll {
    overflow: hidden !important;
}